@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

html {
    scroll-behavior: smooth;
}

header {
    height: 125px;
}


/* client Name */

.client{
    display: flex;
    flex-direction: column;
}

.client-name{
    color: white;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 500;
    font-size: 38px;
}

.job {
    color: whitesmoke;
    font-family: 'EB Garamond', sans-serif;
    font-weight: 400;
    font-size: small;
    font-style: italic;
    letter-spacing: 2px;
    border-top: solid 0.1px rgb(255, 255, 255, 0.4) ;
    padding-top: 10px;
    text-align: center;
}

/* Navigation */

.nav-font{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* top image */

.head-img{
    margin: 10px auto;
}

/* About me */

.aboutme-section-box{
    margin-top: 100px;
    padding: 20px;

}

.section-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 70px;
    color: rgb(53,58,64);
}

.inner-section-box{
    border-left: 4px solid;
    border-color:rgb(53,58,64);
    padding: 60px;
    margin: 50px;
}

.section-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: x-large;
    color: rgb(80, 80, 80);
}


/*experience*/

.experience-section-box{
    margin-top: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: rgb(220, 220, 220);
}

.experience-img-box{
    padding-left: 0px;
    padding-right: 40px;
}

.experience-inner-section-box{
    border-left: 4px solid;
    border-color:rgb(53,58,64);
    padding: 60px;
    margin: 50px;
}

/*references - carousel*/

.reference-section-box{
    padding-top: 6rem;
    padding-bottom: 1rem;

}

.reference-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 70px;
    color: white;
    margin-left: 40px;
}

.inner-reference-box{
    border-left: 4px solid;
    border-color:white;
    padding: 60px;
    margin: 100px;
}


.reference-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: x-large;
    color: white;
}

.company{
    font-family: "roboto",sans-serif;
    font-size: medium;
    font-weight: 100;
    font-style: italic;
    color: whitesmoke;
}

.carousel-indicators{
    margin-bottom:-40px ;
}



/*Contact me*/

.contactme-section-box{
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.form-style{
    margin: 30px;
}

.contact-info-box{
    border-left: 4px solid;
    border-color:rgb(53,58,64);
    padding-left: 60px;
    padding-top: 60px;
    margin: 0 auto;
}


.contactme-subheading{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: x-large;
    color: rgb(53,58,64);
}

.contactme-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: medium;
    color: rgb(80, 80, 80);
}

.contactme-text i{
    letter-spacing: 5px;

}

/*footer*/

.footer-section-box{
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.footer-subheading{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: large;

}

.socials a{
    color: whitesmoke;
    padding: 5px 10px;
}

.socials a:hover{
    border-radius: 25%;
    background-color: rgba(237, 236, 236, 0.1);
}

.socials i{
    font-size: 25px;
}

/*page not found*/

.page-not-found-heading{

    font-size: 3em;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 200px;
    padding: 50px;
}

.page-not-found-text{
    font-size: 1.2em;
    color: #555;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    padding: 50px;
}

#quote {
    font-style: italic;
    color: #777;
    text-align: center;
}

.btn-return{
    text-align: center;
}

#back {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(53,58,64);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}




@media screen and (max-width: 1024px){

    .experience-img-box{
        display: none;
    }

    .experience-inner-section-box{
        border-left: 4px solid;
        border-color:rgb(53,58,64);
        width: 75vw;
        padding: 60px;
        margin: 50px;
    }

    .experience-overview{
        margin-left: 50px;
    }
}



@media screen and (max-width: 768px){

    .inner-section-box{
        padding-right: 0px;
    }

}